<p id="notice"><%= notice %></p>

<h1>
  <%= @lesson.name %>
</h1>

<p>
  <%= @lesson.content %>
</p>
<p>

</p>


<%= link_to 'Edit', edit_lesson_path(@lesson) %> |
<%= link_to 'Back', lessons_path %>
<%= link_to 'New Lesson', new_lesson_path %>
